:root {
    --glow-rgb: 44 44 122;
}

body {
    background: linear-gradient(145deg, rgb(26, 23, 41), rgb(21, 19, 24));
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    cursor: url('./site_files/speed.png'), auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('./site_files/speed.png'), auto;
}

.background-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 500px;
    z-index: -1;
}

@keyframes seasickAnimation {

    0%,
    100% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.02) rotate(-2deg);
    }

    50% {
        transform: scale(0.98) rotate(2deg);
    }

    75% {
        transform: scale(1.02) rotate(-2deg);
    }
}

.seasick-image {
    user-select: none;

    animation: seasickAnimation 4s ease-in-out infinite;
}

.glow-point {
    position: absolute;
    box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
    pointer-events: none;
}

.star {
    position: absolute;
    z-index: 999;
    color: white;
    font-size: 12rem;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    width: 50px;
    pointer-events: none;
}

h1 {
    font-family: "Questrial", sans-serif;
    font-size: 72px;
    font-weight: normal;
    text-align: center;

    color: #bea4f0;

    text-shadow: 0px 4px 4px rgba(129, 129, 129, 0.25);

    padding: 50px 100px;

    user-select: none;
    display: inline-block;
}

.container {
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text {
    font-weight: 100;
    font-size: 48px;
    color: #bea4f0;
}

.dud {
    color: #665b7c;
}

@keyframes fall-1 {
    0% {
        transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
        opacity: 0;
    }

    5% {
        transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
        opacity: 0;
    }
}

@keyframes fall-2 {
    0% {
        transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
        opacity: 0;
    }

    10% {
        transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
        opacity: 0;
    }
}

@keyframes fall-3 {
    0% {
        transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
        opacity: 0;
    }

    15% {
        transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
        opacity: 0;
    }
}


.disclaimer {
    display: block;
    font-size: 12px;
    color: #aaa;
    text-align: center;
    margin-top: 5px;
    font-family: "Questrial", sans-serif;

}